<ion-header>
  <ion-toolbar>
    
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
<div class="container">
  <ion-card routerLink="/products">
    <img alt="Silhouette of mountains" src="https://img.freepik.com/premium-vector/online-shopping-online-payments-product-delivery-online-store-app-young-woman-buys-clothes_143808-744.jpg?w=740" />
    <ion-card-header>
      <ion-card-title>Products</ion-card-title>
      <ion-card-subtitle>find and buy products</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/orders">
    <img alt="Silhouette of mountains" src="https://img.freepik.com/free-vector/haircare-flat-beauty-products-with-little-female-characters-illustration_1284-53941.jpg?w=826&t=st=1692379829~exp=1692380429~hmac=fc56e53dbf1677c9786d02cbb1c279dc3ee7920780b9d978ddd6a2ee507b99e6" />
    <ion-card-header>
      <ion-card-title>My Orders</ion-card-title>
      <ion-card-subtitle>find your orders here</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  <ion-card routerLink="/location">
    <img alt="Silhouette of mountains" src="https://img.freepik.com/free-vector/location-tracking-concept-illustration_114360-5174.jpg?t=st=1692379574~exp=1692380174~hmac=b751b0abd9d210c9f6b117833f1de6d55b3e8eb30114c352c9fd98b1bb0ef43a" />
    <ion-card-header>
      <ion-card-title>My Location</ion-card-title>
      <ion-card-subtitle>find your location</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
</div>

</ion-content>
